{% extends "layout.html" %}

{% block content %}
<div id='all-menus' class='col-lg-4'>

  <h2>Hotel</h2>
  <select name="hotels">
  {% for hotel in hotels %}
    <option value="{{hotel.name}}">{{hotel.name}}</option>
  {% endfor %}
  </select>
  <button type="button" class="btn btn-default navbar-btn">+</button>

  <h2>Restaurant</h2>
  <select name="restaurant">
  {% for restaurant in restaurants %}
    <option value="{{restaurant.name}}">{{restaurant.name}}</option>
  {% endfor %}
  </select>
  <button type="button" class="btn btn-default navbar-btn">+</button>


  <h2>Activity</h2>
  <select name="activity">
  {% for activity in activities %}
    <option value="{{activity.name}}">{{activity.name}}</option>
  {% endfor %}
  </select>
  <button type="button" class="btn btn-default navbar-btn">+</button>
</div>
{% endblock %}

