<!doctype html>
<html>
<head>
  <title>Tripplanner</title>
  <link rel='stylesheet' href='stylesheets/style.css' />
  <!--Stylesheets go here!-->
  <link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>

</head>
<body>
<!-- ######BOOOTSTRAP NAVBAR ########## -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Trip Planner</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id='googleMap'></div>
  {% block content %}
  {% endblock %}

  <!--Scripts go here!-->
  <script src='bootstrap/js/bootstrap.min.js'></script>
  <script src='jquery/jquery.min.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi2qkpJzKl4ZpjgfoEdPIu4Z2lU7ch020&sensor=true"></script>
  <script src='scripts/googlemap.js'></script>

</body>
</html>
